<div class="jumbotron">
    <h1>API Da Marvel</h1>
    <p class="lead">
        Essa API também servirá para a aplicação Mobile reproduzida e subida no GitHub da aluna Larissa Sonoda.

        Essa API tem como objetivo receber informações da API já pronta da Marvel pois, ao usuário buscar em nosso aplicativo (acima), o app buscará na API da Marvel e depois ficará reservado na nossa própria API.
    </p>
    </div>
